<h1>Credit Cards</h1>

<%= link_to 'Dashboard', root_path %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th><!--actions--></th>
    </tr>
  </thead>
  <tbody>
    <% @credit_cards.each do |cc| %>
      <tr>
        <td>
          <%= link_to "#{cc.connection.name} - #{cc.name}", connection_account_path(cc.connection, cc) %>
         </td>
        <td><%=number_to_currency(cc.credit_amount)%></td>
        <td><%= link_to "Pay Now", cc.payment_link, target: "_blank", class: "btn btn-large btn-primary" %></td>
      </tr>
    <%end%>
  </tbody>
</table>
